---
---

@charset "utf-8";

//$default-font: 'Varela Round', sans-serif;
//$accent-font: 'Sanchez', serif;

// fonts
$default-font: 'PT Sans', sans-serif;
$accent-font: 'PT Serif', serif;
$code-font: Inconsolata, Consolas, monospace;

// sizes
$one-liner-height: 2.5em;
$header-top-spacing: 1em;
$header-bottom-spacing: 0.1em;
$section-spacing: 1em;
$max-chars: 80ch;

// original (ghost of a chance)
//$background-color: #F6F1CB;
//$accent-color: #93B23C;
//$accented-foreground-color: #29210A;
//$accented-background-color: #DFD4A7;
//$dark-foreground-color: #DFD4A7;
//$dark-background-color: #29210A;
//$foreground-color: #29210A;

// colors

$code-block-accent-color: #83a2aC;
$code-block-background-color: #fFf4c7;
$background-color: #F6F1CB;
$accent-color: #93B23C;
$accented-foreground-color: #29210A;
$accented-background-color: #DFD4A7;
$dark-foreground-color: #DFD4A7;
$dark-background-color: #29210A;
$foreground-color: #29210A;

// general rules
* {
  margin: 0;
  padding: 0;
}

html {
  border-top: 0.5em solid $accent-color;
  font-family: $default-font;
  font-size: 100%;
}

li {
  margin: 0 0 0.25em 1em
}

ul:last-child li:last-child {
  margin-bottom: 0;
}

ul {
  margin: $section-spacing 0;
}

article img {
  display: block;
  margin: 1em auto;
  padding: 1px;
  border: 1px $accented-foreground-color solid;
}

code, em, strong {
  line-height: 1;
}

.highlight {
  background: $accented-background-color;
}

code {
  color: $accented-foreground-color;
  font-family: $code-font;
  font-style: italic;
  font-size: 0.9em;
}

pre code {
  font-style: normal;
  font-size: 1em;
}

.accent, blockquote {
  background-color: $accented-background-color;
  border-left: 0.25em solid $accent-color;
  color: $accented-foreground-color;
  padding: 0.5em;
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0.5em 0;
}

pre {
  border: 1px dashed $code-block-accent-color;
  border-left: 0.3em solid $code-block-accent-color;
  background-color: $code-block-background-color !important;
  padding: 0.5em;
  font-size: 0.75em;
  line-height: 1.2em;
  margin: 1em 0;
  overflow-y: hidden;
  overflow-x: auto;
}

cite {
  font-family: $accent-font;
  font-style: italic;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: $accent-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: $background-color;
  color: $foreground-color;
  line-height: 1.4em;
}

h2 {
  font-family: $accent-font;
  font-size: 1.5em;
  line-height: 1.3em;
  padding: $header-top-spacing 0 $header-bottom-spacing 0;
}

h3 {
  font-family: $accent-font;
  font-size: 1.2em;
  line-height: 1.3em;
  padding: $header-top-spacing 0 $header-bottom-spacing 0;
}

h4 {
  font-family: $accent-font;
  font-size: 1em;
  line-height: 1.1em;
  padding: $header-top-spacing 0 $header-bottom-spacing 0;
}

// section rules

#home {
  position: absolute;
  display: block;
}

#home a {
  width: 100%;
  height: 100%;
  display: block;
}

#home a:hover {
  text-decoration: none;
}

#page {
  padding: 2.5em 0 0 0;
}

header {
  text-align: center;

  h1 {
    font-family: $accent-font;
    text-align: center;
    color: $foreground-color;
    font-size: 3em;
    line-height: 1em;
    margin: 0;
    padding-bottom: 0.75em;
  }

  p {
    font-family: $accent-font;
    color: $foreground-color;
    margin: 0;
    padding: 0;
  }
}

#post-meta {
  padding-bottom: 1.5em;
}

#wrapper, #teaser, #footer, #page-navigation {
  padding: 0 $section-spacing;
  margin: 0 auto;
  max-width: $max-chars;
}

#teaser {
  padding-bottom: $section-spacing;
}

#next {
  display: block;
  float: right;
}

#intro {
  margin: 0 auto;
  max-width: $max-chars;
}

#teaser-section, #bottom {
  background-color: $accented-background-color;
  color: $foreground-color;
}

#page-navigation {
  height: $one-liner-height;
  line-height: $one-liner-height;
}

@media (max-width: 600px) {
  #page-navigation {
    height: 5em;
    line-height: 2.5em;
  }
}

#notices, #notices a {
  text-align: center;
  line-height: 1.5em;
  font-size: 0.8em;
}

#latest-posts {
  font-size: 0.9em;
  line-height: 1.1em;
}

#disqus {
  margin-top: $section-spacing;
}

footer {
  background-color: $dark-background-color;
  color: $dark-foreground-color;
}

footer h2 {
  padding-top: $section-spacing;
}

footer nav {
  text-align: center
}

footer nav a {
  margin: 0 0.25em;
  line-height: $one-liner-height;
}

#bottom.stikybottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* imports */
@import "media";
@import "syntax";
